<h1>Editing Bank Subsidiary</h1>

<%= render 'form', bank_subsidiary: @bank_subsidiary %>

<%= link_to 'Show', @bank_subsidiary, class: 'btn btn-primary' %> 
<%= link_to 'Back', bank_subsidiaries_path, class: 'btn btn-default' %>
